/*inicio montagem tela configuracoes*/
h1,h2,.foto-configuracoes{
    border-radius: 1rem;
    
}

.corpo-configuracoes{
    display:flex;
    flex-direction:column;
    background-color: rgba(255, 255,255 , 0.753);

}

.cabeca-configuracoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bd1616;
    min-width: 300px;
    align-items: center;
}

.foto-configuracoes{
    max-width: 80px;
    margin: 0.8rem;
}

.titulo-configuracoes{
    background-color: rgba(101, 103, 103,1);
    min-width: 140px;
    margin: 0.4rem;
    text-align: center;
}

.nome-configuracoes{
    background-color: rgba(101, 103, 103,1);
    margin:0.4rem;
    min-width: 200px;
    padding: 0.3rem;
    margin: 0.3rem;
    text-align: center;
}

.main-configuracoes{ /*vai ser aplicado aos filhos(todos os h2),mas nao vai acontecer nada especifico para cada h2, por isso tem que fazer uma classe para cada*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-configuracoes,.matricula-configuracoes,.seguranca-configuracoes{
    background-color: rgba(101, 103, 103,1);
    padding: 0.3rem;
    min-width: 200px;
    max-width: 250px;
    text-align: center;
    margin: 3rem;
}

.pe-configuracoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(101, 103, 103,1);
    border-radius: 1rem;
    min-width: 250px;
    max-width: 300px;
    margin: 2rem;
    padding: 0.3rem;
    max-height: 40px;
}
.estudante-a,.configuracoes-a{
    padding-left: 2.5rem;
    
}
/*  fim montagem tela de configuracoes/inicio do app.*/