/*inicio montagem tela configuracoes*/
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

h1,h2,.foto-configuracoes{
    border-radius: 1rem;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    
}

.corpo-configuracoes{
    display:flex;
    flex-direction:column;
    background-color: rgb(255, 255, 255);

}

.cabeca-configuracoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#E33B4D;
    min-width: 300px;
    align-items: center;
}

.foto-configuracoes{
    max-width: 80px;
    margin: 0.8rem;
}

.titulo-configuracoes{
    background-color: #D9D9D9;
    min-width: 140px;
    margin: 0.2rem;
    text-align: center;
    filter: drop-shadow(0px 5px 10px #000000);
}

.nome-configuracoes{
    background-color: #D9D9D9;
    margin:0.4rem;
    min-width: 200px;
    padding: 0.3rem;
    margin: 0.5rem;
    text-align: center;
}

.main-configuracoes{ /*vai ser aplicado aos filhos(todos os h2),mas nao vai acontecer nada especifico para cada h2, por isso tem que fazer uma classe para cada*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.email-configuracoes,.matricula-configuracoes,.seguranca-configuracoes{
    background-color: #D9D9D9;
    padding: 0.3rem;
    min-width: 200px;
    text-align: center;
    margin: 2rem;
}

.pe-configuracoes{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    bottom: 10%;
    background-color: #D9D9D9;
    border-radius: 1rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    padding: 0.3rem;
    max-height: 40px;
}
/*  fim montagem tela de configuracoes do app.*/


/*inicio montagem da tela de busca(tela2) do app.*/

/*final montagem da tela de busca(tela2) do app.*/



/*inicio montagem da tela do DA(tela3) do app.*/
.corpo-DA{
    display: flex;
    flex-direction: column;
    
}

.cabeca-DA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.main-DA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h1-DA{
    background-color:#D9D9D9;
    margin: 1rem;
    padding: 0.2rem;
    min-width: 180px;
    text-align: center;
    
}

.fig-DA{
    margin: 1rem;
    background-color: ;
    border: 0.2rem solid ;
    border-radius: 20%;
}

.ul-DA{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ul-eventos-DA,.ul-atividades-DA,.ul-intercambio-DA{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.h1-eventos-DA,.h1-atividades-DA,.h1-intercambio-DA{
    padding: 0.8rem;
}

.img-resize{
    max-width: 70px;
    padding: 0.5rem 2.8rem;
}

/*final montagem da tela do DA(tela3) do app.*/

/*inicio montagem da tela entidades */

.head-entidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-entidades{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ul-financas,.ul-acoessociais,.ul-tech{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.li-financas,.li-acoessociais,.li-tech{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h1-entidades{
    margin: 2rem;
    background-color: #D9D9D9;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    filter: drop-shadow(0px 3px 6px #000000);
}

.h1-financas{
    margin:1rem;
}

.h1-acoessociais{
    margin:0rem;
}

.h1-tech{
    margin:1.8rem;
}

.img-financas,.img-acoessociais,.img-tech{
    border-radius: 15%;
    background-color: #E33B4D;
    filter: drop-shadow(0px 3px 6px #000000);
    max-width: 70px;
    padding: 0.5rem 0.9rem;
    margin:2rem;
    margin-right: 4rem;
}

.estudante-a,.configuracoes-a,.home-a{
    max-height: 30px;
    max-width: 30px;
    padding: 0.1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.img-group {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 15%;
    background-color: #D9D9D9;
    filter: drop-shadow(0px 3px 6px #000000);
    max-width: 70px;
    max-height: 50px;
}

/*final montagem da tela entidades */

/*inicio montagem da tela ações sociais */

.head-acoessociais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-acoessociais{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.h1-acoessociais{
    margin: 2rem;
    background-color: #D9D9D9;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    filter: drop-shadow(0px 3px 6px #000000);
}

.text-acoessociais{
    text-align: center;
    margin: 2rem;
    max-width: 350px;
}

/*final montagem da tela ações sociais */